.header {
	padding-block: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid currentColor;
	gap: 1rem;
}

.brand {
	font-size: 1.5rem;
	text-decoration: none;
	color: inherit;
	display: inline-block;
	padding: 0.3rem 0.5rem;
	border: 1px solid currentColor;
}

.container {
	width: min(calc(100% - 2rem), 1000px);
	margin: 0 auto;
}

.section {
	position: relative;
}

.headerRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.headerForm {
	display: flex;
	gap: 0.5rem;
}

.headerInput {
	padding: 0.5rem 1rem;
	border: 1px solid currentColor;
	background-color: transparent;
	font: inherit;
	width: 280px;
}

.headerButton {
	background-color: transparent;
	border: 1px solid currentColor;
	padding: 0.5rem 1rem;
	cursor: pointer;
}
